<%= tag.div(flash[:alert], style: "color:red") if flash[:alert] %>
<%= tag.div(flash[:notice], style: "color:green") if flash[:notice] %>

<div class="w-75 mx-auto my-3">
  <%= form_with url: session_path, method: :POST, class: "my-3" do |form| %>
    <h1>Log in</h1>
    <div class="form-group">
      <label for="email_address" class="my-1">Email</label>
      <%= form.email_field :email_address, required: true, autofocus: true, autocomplete: "username", placeholder: "Enter your email address", value: params[:email_address], class: "form-control" %>
    </div>
    <div class="form-group">
      <label for="password" class="my-1">Password</label>
      <%= form.password_field :password, required: true, autocomplete: "current-password", placeholder: "Enter your password", maxlength: 72, class: "form-control" %>
    </div>
    <%= form.submit "Sign in", class: "btn btn-primary my-3" %>
  <% end %>
  <%= link_to "Forgot password?", new_password_path %>
</div>
